$breakpoint-tablet: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1440px;

$content-width-mobile: 80vw;
$content-width-tablet: 70vw;
$content-width-large: 960px;
$content-width-xlarge: 1200px;
